<h2>Course Component</h2>


<h3>Two-Way Data Binding</h3>

<label>Enter Student Name:</label>

<input type="text" [(ngModel)]="studentName">


<p>
<b>Student Name:</b> {{studentName}}
</p>


<hr>


<h3>*ngIf Example</h3>

<p *ngIf="showCourses">
Available Courses
</p>


<h3>*ngFor Example</h3>
<hr>

<h2>Angular Pipes Example</h2>

<p>
Original Name: {{studentName}}
</p>


<p>
Uppercase:
{{studentName | uppercase}}
</p>


<p>
Lowercase:
{{studentName | lowercase}}
</p>


<p>
Today Date:
{{today | date}}
</p>


<p>
Price:
{{price | currency:'INR'}}
</p>
<hr>

<h2>Custom Pipe Example</h2>

<p>
Original Course: Java FSE
</p>

<p>
Formatted Course:
{{ 'Java FSE' | courseFormat }}
</p>
<ul>

<li *ngFor="let course of courses">

{{course.id}} - {{course.name}}

</li>

</ul>